h1  {
    background: #2980b9;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

.fa-plus {
    float: right;
}
body {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto;
}

li {
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n){
    background: #f7f7f7;
}

span {
    background: #e74c3c;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 40px;
    display: inline-block;

}

input {
    font-size: 18px;
    color: #2980b9;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
}

input:focus{
    background: #fff;
} 

#container {
    width: 360px;
    margin: 100px auto;
    border: solid 2px gray;
    background: #f7f7f7; 
    box-shadow: 0 0 3px rgba(0,0,0, 0.1);
}

.completed {
    color: gray;
    text-decoration: line-through;
}